/* Regular */

/* Thin 100 */

/* Light 300 */

/* Semi-bold 600 */

/* Bold */

/* Extra-bold 800 */

/* Black 900 */

@font-face {
    font-family: "AeonikTRIAL";
    src: url("AeonikTRIAL-Regular.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "AeonikTRIAL";
    src: url("AeonikTRIAL-RegularItalic.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "AeonikTRIAL";
    src: url("AeonikTRIAL-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AeonikTRIAL";
    src: url("AeonikTRIAL-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "AeonikTRIAL";
    src: url("AeonikTRIAL-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AeonikTRIAL";
    src: url("AeonikTRIAL-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}