{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Authoring API",
    "version": "1.0.0",
    "description": "The AI Test Authoring API allows you to manage AI-authored test cases, test suites, and test schedules. Use these methods to create, retrieve, update, delete, and run your AI-authored tests programmatically.\n\nRefer to [Getting Started](/dev/api) for Authentication and Server information.\n\n## What You'll Need\n\n- A Sauce Labs enterprise account ([Log in](https://accounts.saucelabs.com/am/XUI/#login/))\n- Your Sauce Labs [username and access key](https://app.saucelabs.com/user-settings)"
  },
  "servers": [
    {
      "url": "https://api.us-west-1.saucelabs.com/ai-authoring/v1",
      "description": "US West"
    },
    {
      "url": "https://api.eu-central-1.saucelabs.com/ai-authoring/v1",
      "description": "EU Central"
    },
    {
      "url": "https://api.us-east-4.saucelabs.com/ai-authoring/v1",
      "description": "US East"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/storage/{id}": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "Get artifact file",
        "description": "Downloads a stored artifact (e.g. screenshot) by its UUID. Supports both dashed and dashless UUID formats.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Artifact UUID (accepts both dashed and dashless formats)"
            },
            "required": true,
            "description": "Artifact UUID (accepts both dashed and dashless formats)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact file stream",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "INVALID_PARAMS"
                          ],
                          "description": "Machine-readable error code"
                        },
                        "detail": {
                          "type": "string",
                          "description": "Human-readable error description with actionable context"
                        }
                      },
                      "required": [
                        "code",
                        "detail"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ],
                          "description": "Machine-readable error code"
                        },
                        "detail": {
                          "type": "string",
                          "description": "Human-readable error description with actionable context"
                        }
                      },
                      "required": [
                        "code",
                        "detail"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Artifact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FILE_NOT_FOUND"
                          ],
                          "description": "Machine-readable error code"
                        },
                        "detail": {
                          "type": "string",
                          "description": "Human-readable error description with actionable context"
                        }
                      },
                      "required": [
                        "code",
                        "detail"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/testcases": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "List test cases",
        "description": "Returns a paginated list of test cases. Supports filtering by search term, date range, user, team, and test suite.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Case-insensitive search term matched against the test case name"
            },
            "required": false,
            "description": "Case-insensitive search term matched against the test case name",
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 start date filter — only return test cases created on or after this date"
            },
            "required": false,
            "description": "ISO 8601 start date filter — only return test cases created on or after this date",
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 end date filter — only return test cases created on or before this date"
            },
            "required": false,
            "description": "ISO 8601 end date filter — only return test cases created on or before this date",
            "name": "endDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by creator user UUID"
            },
            "required": false,
            "description": "Filter by creator user UUID",
            "name": "userId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by team UUID"
            },
            "required": false,
            "description": "Filter by team UUID",
            "name": "teamId",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "nullable": true
              },
              "description": "Filter by test suite UUID(s). Pass \"null\" to find unassigned test cases. Accepts a single value or an array."
            },
            "required": false,
            "description": "Filter by test suite UUID(s). Pass \"null\" to find unassigned test cases. Accepts a single value or an array.",
            "name": "testSuiteId",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter by tag(s). Returns test cases that have at least one of the specified tags. Accepts a single value or an array."
            },
            "required": false,
            "description": "Filter by tag(s). Returns test cases that have at least one of the specified tags. Accepts a single value or an array.",
            "name": "tags",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "Number of results to skip (for offset-based pagination). Defaults to 0."
            },
            "required": false,
            "description": "Number of results to skip (for offset-based pagination). Defaults to 0.",
            "name": "skip",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return. Set to 0 to only retrieve the total count."
            },
            "required": false,
            "description": "Maximum number of results to return. Set to 0 to only retrieve the total count.",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of test cases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Test case ObjectId (24-character hex string)"
                              },
                              "orgId": {
                                "type": "string",
                                "description": "Sauce Labs organization ID that owns this test case"
                              },
                              "creatorUserId": {
                                "type": "string",
                                "description": "UUID of the user who originally created the test case"
                              },
                              "creatorUserName": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Display name of the creator at the time of creation"
                              },
                              "lastModifierUserId": {
                                "type": "string",
                                "description": "UUID of the user who last modified the test case"
                              },
                              "lastModifierUserName": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Display name of the last modifier"
                              },
                              "name": {
                                "type": "string",
                                "description": "Human-readable test case name"
                              },
                              "revisions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Revision UUID"
                                    },
                                    "intent": {
                                      "type": "string",
                                      "description": "Original natural language intent provided by the user"
                                    },
                                    "steps": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "Unique step identifier within the revision"
                                          },
                                          "tool": {
                                            "oneOf": [
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "go_to_url"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "url": {
                                                        "type": "string",
                                                        "description": "Target URL to navigate to"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "url"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "switch_window"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "matcher": {
                                                        "type": "string",
                                                        "description": "Window title or URL matcher"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "enter_key_submit"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "pause"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "time": {
                                                        "type": "number",
                                                        "description": "Pause duration in milliseconds"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "time"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "click"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "xpath": {
                                                        "type": "string",
                                                        "description": "XPath selector (deprecated, use selector)"
                                                      },
                                                      "selector": {
                                                        "oneOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "css"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "xpath"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          }
                                                        ],
                                                        "description": "Element selector (CSS or XPath)"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "selector"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "input_text"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "xpath": {
                                                        "type": "string",
                                                        "description": "XPath selector (deprecated, use selector)"
                                                      },
                                                      "selector": {
                                                        "oneOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "css"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "xpath"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          }
                                                        ],
                                                        "description": "Element selector (CSS or XPath)"
                                                      },
                                                      "text": {
                                                        "type": "string",
                                                        "description": "Text to type into the element"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "selector",
                                                      "text"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "scroll_document"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "direction": {
                                                        "type": "string",
                                                        "enum": [
                                                          "down",
                                                          "up",
                                                          "left",
                                                          "right"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "direction"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "scroll_element"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "xpath": {
                                                        "type": "string",
                                                        "description": "XPath selector (deprecated, use selector)"
                                                      },
                                                      "selector": {
                                                        "oneOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "css"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "xpath"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          }
                                                        ],
                                                        "description": "Element selector (CSS or XPath)"
                                                      },
                                                      "direction": {
                                                        "type": "string",
                                                        "enum": [
                                                          "down",
                                                          "up",
                                                          "left",
                                                          "right"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "selector",
                                                      "direction"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "assert"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "xpath": {
                                                        "type": "string",
                                                        "description": "XPath selector (deprecated, use selector)"
                                                      },
                                                      "selector": {
                                                        "oneOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "css"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "xpath"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          }
                                                        ],
                                                        "description": "Element selector (CSS or XPath)"
                                                      },
                                                      "not": {
                                                        "type": "boolean",
                                                        "description": "Negate the assertion"
                                                      },
                                                      "matcher": {
                                                        "type": "object",
                                                        "properties": {
                                                          "name": {
                                                            "type": "string",
                                                            "description": "Matcher function name (e.g. \"toBeVisible\", \"toHaveText\")"
                                                          },
                                                          "args": {
                                                            "type": "array",
                                                            "items": {},
                                                            "description": "Matcher arguments (JSON values)"
                                                          }
                                                        },
                                                        "required": [
                                                          "name"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "selector",
                                                      "matcher"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "select"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "xpath": {
                                                        "type": "string",
                                                        "description": "XPath selector (deprecated, use selector)"
                                                      },
                                                      "selector": {
                                                        "oneOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "css"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "xpath"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          }
                                                        ],
                                                        "description": "Element selector (CSS or XPath)"
                                                      },
                                                      "optionValue": {
                                                        "type": "string",
                                                        "description": "Value of the option to select"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "selector",
                                                      "optionValue"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "in_shadow_root"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      },
                                                      "xpath": {
                                                        "type": "string",
                                                        "description": "XPath selector (deprecated, use selector)"
                                                      },
                                                      "selector": {
                                                        "oneOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "css"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "xpath"
                                                                ]
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "index": {
                                                                "type": "number"
                                                              }
                                                            },
                                                            "required": [
                                                              "type",
                                                              "value"
                                                            ]
                                                          }
                                                        ],
                                                        "description": "Element selector (CSS or XPath)"
                                                      },
                                                      "tool": {
                                                        "type": "object",
                                                        "description": "Nested tool invocation within shadow DOM"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning",
                                                      "selector"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "finish"
                                                    ]
                                                  },
                                                  "args": {
                                                    "type": "object",
                                                    "properties": {
                                                      "reasoning": {
                                                        "type": "string",
                                                        "description": "AI reasoning for performing this action"
                                                      }
                                                    },
                                                    "required": [
                                                      "reasoning"
                                                    ],
                                                    "additionalProperties": {}
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "args"
                                                ]
                                              }
                                            ],
                                            "description": "A single tool invocation within a test step"
                                          },
                                          "result": {
                                            "type": "object",
                                            "properties": {
                                              "success": {
                                                "type": "boolean",
                                                "description": "Whether the tool action completed without error"
                                              },
                                              "message": {
                                                "type": "string",
                                                "description": "Detailed result message or error description"
                                              }
                                            },
                                            "required": [
                                              "success"
                                            ]
                                          },
                                          "screenshotUrl": {
                                            "type": "string",
                                            "description": "URL to the screenshot captured after executing this step"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "tool"
                                        ]
                                      },
                                      "description": "Ordered sequence of test steps that make up this revision"
                                    },
                                    "discoveredIntent": {
                                      "type": "string",
                                      "description": "AI-refined intent derived from the actual test execution"
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Auto-generated human-readable summary of what the revision tests"
                                    },
                                    "reasoning": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "title": {
                                            "type": "string",
                                            "description": "Short summary of the AI reasoning step"
                                          },
                                          "description": {
                                            "type": "string",
                                            "description": "Detailed AI reasoning for this step"
                                          }
                                        },
                                        "required": [
                                          "title",
                                          "description"
                                        ]
                                      },
                                      "description": "AI reasoning produced while generating this revision"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "intent",
                                    "steps",
                                    "discoveredIntent",
                                    "description"
                                  ]
                                },
                                "description": "Chronological list of test case revisions (latest last)"
                              },
                              "creationDate": {
                                "type": "string",
                                "description": "ISO 8601 timestamp when the test case was created"
                              },
                              "lastUpdateDate": {
                                "type": "string",
                                "description": "ISO 8601 timestamp of the most recent modification"
                              },
                              "runSettings": {
                                "type": "object",
                                "properties": {
                                  "testUrl": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "Base URL the test navigates to"
                                  },
                                  "scTunnelName": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "Sauce Connect tunnel name for accessing private sites"
                                  },
                                  "primaryTarget": {
                                    "type": "object",
                                    "properties": {
                                      "capabilities": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        },
                                        "description": "W3C WebDriver capabilities (e.g. browserName, platformName, browserVersion)"
                                      },
                                      "isRdc": {
                                        "type": "boolean",
                                        "description": "Whether this target runs on a real device (true) or an emulator/VM (false)"
                                      }
                                    },
                                    "required": [
                                      "capabilities",
                                      "isRdc"
                                    ]
                                  },
                                  "runTargets": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "capabilities": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "number"
                                              }
                                            ]
                                          },
                                          "description": "W3C WebDriver capabilities (e.g. browserName, platformName, browserVersion)"
                                        },
                                        "isRdc": {
                                          "type": "boolean",
                                          "description": "Whether this target runs on a real device (true) or an emulator/VM (false)"
                                        }
                                      },
                                      "required": [
                                        "capabilities",
                                        "isRdc"
                                      ]
                                    },
                                    "description": "All configured browser/device targets for parallel execution"
                                  },
                                  "lastBuildName": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "Most recently used Sauce Labs build name"
                                  }
                                },
                                "required": [
                                  "primaryTarget",
                                  "runTargets"
                                ]
                              },
                              "testSuiteId": {
                                "type": "string",
                                "description": "UUID of the test suite this test case belongs to, if any"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "User-defined tags for filtering and organization"
                              }
                            },
                            "required": [
                              "id",
                              "orgId",
                              "creatorUserId",
                              "creatorUserName",
                              "lastModifierUserId",
                              "lastModifierUserName",
                              "name",
                              "revisions",
                              "creationDate",
                              "lastUpdateDate",
                              "runSettings",
                              "tags"
                            ]
                          },
                          "description": "Result items for the current page"
                        },
                        "total": {
                          "type": "number",
                          "description": "Total number of matching items across all pages (independent of skip/limit)"
                        }
                      },
                      "required": [
                        "items",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query string parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "INVALID_QUERY"
                          ],
                          "description": "Machine-readable error code"
                        },
                        "detail": {
                          "type": "string",
                          "description": "Human-readable error description with actionable context"
                        }
                      },
                      "required": [
                        "code",
                        "detail"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ],
                          "description": "Machine-readable error code"
                        },
                        "detail": {
                          "type": "string",
                          "description": "Human-readable error description with actionable context"
                        }
                      },
                      "required": [
                        "code",
                        "detail"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/testcases/tags": {
      "get": {
        "tags": [
          "Test Cases",
          "Tags"
        ],
        "summary": "List distinct test case tags",
        "description": "Returns every distinct tag currently assigned to any test case in the caller organization. Use it to populate tag pickers or as autocomplete data for the `tags` filter on `GET /testcases`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of distinct tags in the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ],
                          "description": "Machine-readable error code"
                        },
                        "detail": {
                          "type": "string",
                          "description": "Human-readable error description with actionable context"
                        }
                      },
                      "required": [
                        "code",
                        "detail"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/testcases/{id}": {
      "get": {
        "tags": [
          "Test Cases"
        ],
        "summary": "Get a test case",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Test case ObjectId (24-character hex string)"
            },
            "required": true,
            "description": "Test case ObjectId (24-character hex string)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Test case details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Test case ObjectId (24-character hex string)"
                        },
                        "orgId": {
                          "type": "string",
                          "description": "Sauce Labs organization ID that owns this test case"
                        },
                        "creatorUserId": {
                          "type": "string",
                          "description": "UUID of the user who originally created the test case"
                        },
                        "creatorUserName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Display name of the creator at the time of creation"
                        },
                        "lastModifierUserId": {
                          "type": "string",
                          "description": "UUID of the user who last modified the test case"
                        },
                        "lastModifierUserName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Display name of the last modifier"
                        },
                        "name": {
                          "type": "string",
                          "description": "Human-readable test case name"
                        },
                        "revisions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Revision UUID"
                              },
                              "intent": {
                                "type": "string",
                                "description": "Original natural language intent provided by the user"
                              },
                              "steps": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Unique step identifier within the revision"
                                    },
                                    "tool": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "go_to_url"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                },
                                                "url": {
                                                  "type": "string",
                                                  "description": "Target URL to navigate to"
                                                }
                                              },
                                              "required": [
                                                "reasoning",
                                                "url"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "switch_window"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                },
                                                "matcher": {
                                                  "type": "string",
                                                  "description": "Window title or URL matcher"
                                                }
                                              },
                                              "required": [
                                                "reasoning"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "enter_key_submit"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                }
                                              },
                                              "required": [
                                                "reasoning"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "pause"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                },
                                                "time": {
                                                  "type": "number",
                                                  "description": "Pause duration in milliseconds"
                                                }
                                              },
                                              "required": [
                                                "reasoning",
                                                "time"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "click"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                },
                                                "xpath": {
                                                  "type": "string",
                                                  "description": "XPath selector (deprecated, use selector)"
                                                },
                                                "selector": {
                                                  "oneOf": [
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "type": {
                                                          "type": "string",
                                                          "enum": [
                                                            "css"
                                                          ]
                                                        },
                                                        "value": {
                                                          "type": "string"
                                                        },
                                                        "index": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "required": [
                                                        "type",
                                                        "value"
                                                      ]
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "type": {
                                                          "type": "string",
                                                          "enum": [
                                                            "xpath"
                                                          ]
                                                        },
                                                        "value": {
                                                          "type": "string"
                                                        },
                                                        "index": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "required": [
                                                        "type",
                                                        "value"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "Element selector (CSS or XPath)"
                                                }
                                              },
                                              "required": [
                                                "reasoning",
                                                "selector"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "input_text"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                },
                                                "xpath": {
                                                  "type": "string",
                                                  "description": "XPath selector (deprecated, use selector)"
                                                },
                                                "selector": {
                                                  "oneOf": [
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "type": {
                                                          "type": "string",
                                                          "enum": [
                                                            "css"
                                                          ]
                                                        },
                                                        "value": {
                                                          "type": "string"
                                                        },
                                                        "index": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "required": [
                                                        "type",
                                                        "value"
                                                      ]
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "type": {
                                                          "type": "string",
                                                          "enum": [
                                                            "xpath"
                                                          ]
                                                        },
                                                        "value": {
                                                          "type": "string"
                                                        },
                                                        "index": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "required": [
                                                        "type",
                                                        "value"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "Element selector (CSS or XPath)"
                                                },
                                                "text": {
                                                  "type": "string",
                                                  "description": "Text to type into the element"
                                                }
                                              },
                                              "required": [
                                                "reasoning",
                                                "selector",
                                                "text"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "scroll_document"
                                              ]
                                            },
                                            "args": {
                                              "type": "object",
                                              "properties": {
                                                "reasoning": {
                                                  "type": "string",
                                                  "description": "AI reasoning for performing this action"
                                                },
                                                "direction": {
                                                  "type": "string",
                                                  "enum": [
                                                    "down",
                                                    "up",
                                                    "left",
                                                    "right"
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "reasoning",
                                                "direction"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "args"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
[...]
