:root {
    /* Dark */
    /*
    --ds-white: #fff; --> --neutral-100: #f9f9f7;
    */

    /* old ds-gray */

    /*
    ds-gray-50: #f7f8fa;
    ds-gray-100: #eff2f6;
    ds-gray-200: #e8ebf1; --> --dark-100
    */
    /*
    ds-gray-300: #dbe0ea;
    ds-gray-400: #b6becc; --> --dark-200
    */
    /* ds-gray-500: #979eab; --> --dark-300 */
    /* ds-gray-600: #6d7584; --> --dark-300 */
    /* ds-gray-700: #4d4d4d; --> --dark-500 */
    /* ds-gray-900: #1e2127; --> --dark-500 */

    --dark-500: #132322;
    --dark-400: #434e4e;
    --dark-300: #727a7a;
    --dark-200: #a1a7a7;
    --dark-100: #d0d3d3;

    /* old ds-green */
    /* ds-green-50: #ebf8e6; --> --yellow-100 */
    /* ds-green-400: #6cb841; --> --yellow-500: #ffcd48; */
    /* ds-green-600: #41990f; --> --yellow-500: #ffcd48; */

    --yellow-500: #ffcd48;
    --yellow-400: #ffd76d;
    --yellow-300: #ffe391;
    --yellow-200: #ffebb6;
    --yellow-100: #fff5da;

    /* old ds-orange */
    /* ds-orange-50: #fff2e2; --> --coral-200: #f8ccbd; */
    /* ds-orange-600: #ff8514; --> --coral-500: #ee805a; */

    --coral-500: #ee805a;
    --coral-400: #f1997b;
    --coral-300: #f5b39c;
    --coral-200: #f8ccbd;
    --coral-100: #fce6de;

    /* old ds-red */
    /* ds-red-50: #ffeceb; -->  --coral-100: #fce6de */
    /* ds-red-100: #ffccc9; -->  --coral-100: #fce6de */
    /* ds-red-600: #e2231a; --> --coral-500: #ee805a; */
    /* ds-red-900: #ae0f0f; --> --coral-500: #ee805a; */
    /* ds-red-1000: #920606; */
    /* ds-red-1100: #7a0000; */
    /* ds-red-sauce: #e2231a; --> --coral-500: #ee805a */

    /* old ds-blue */
    /* ds-blue-50: #e6f1fd; --> --green-100 */
    /* ds-blue-100: #bcdcfd; --> --green-200 */
    /* ds-blue-200: #95c7f9; --> --green-300 */
    /* ds-blue-400: #54a3f3; --> --green-400 */

    --green-500: #3ddc91;
    --green-400: #64e3a7;
    --green-300: #8beabd;
    --green-200: #b1f1d3;
    --green-100: #d8f8e9;

    /*
    ds-blue-700: #0e75dd;
    ds-blue-800: #0d65be;
    ds-blue-900: #004a90;
    --> --green-500: #3ddc91;
    */

    --neutral-300: #deeeea;
    --neutral-200: #edf7f5;
    --neutral-100: #f9f9f7;
}
