/* @import "./src/css/fonts/AeonikFono-Full-Family-Web/css/stylesheet-family-support.css";
@import "./src/css/fonts/AeonikFono-Full-Family-Web/css/stylesheet-individual-weights.css";
@import "./src/css/fonts/AeonikMono-Full-Family-Web/css/stylesheet-family-mono-support.css";
@import "./src/css/fonts/AeonikMono-Full-Family-Web/css/stylesheet-individual-mono-weights.css"; */

/*
 * Google backup
 */

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
// Google backup import as link in html
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
*/

:root {
    --font-family-sans-serif: "Aeonik Fono Air", "Aeonik Mono Air", "DM Sans",
        sans-serif;
    --font-family-serif: Georgia, "Times New Roman", Times, serif;
    --font-family-monospace: "DM Mono", monospace;
    --font-family-base: --font-family-sans-serif;
    --font-family-code: "DM Mono", monospace;
    --font-size-base: 14px;
}
