# This is a comment.
# Each line is a file pattern followed by one or more owners.
*        @lauramthomas @lysannep @discombobulateme @aoleszyn
/docs/ @lauramthomas @lysannep @aoleszyn @LoryApiFortress
/docs/api-testing @lauramthomas @lysannep @aoleszyn @LoryApiFortress
/docs/secure-connections @lauramthomas @lysannep @aoleszyn @LoryApiFortress
/docs/web-apps @lauramthomas @lysannep @aoleszyn @LoryApiFortress @saucelabs/devx
/docs/dev/cli @lauramthomas @lysannep @aoleszyn @LoryApiFortress @saucelabs/devx
Dockerfile @alexplischke @dpgraham @lysannep
