# This is a comment.
# Each line is a file pattern followed by one or more owners.
*        @spider-sauce @lauramthomas @lysannep @discombobulateme @aoleszyn
/docs/   @lauramthomas @lysannep @aoleszyn @aliciakrebs
/docs/web-apps @lauramthomas @lysannep @aliciakrebs @aoleszyn @saucelabs/devx
Dockerfile @spider-sauce @alexplischke @dpgraham
