---
id: managing-test-results
title: Managing Test Results
sidebar_label: Managing Test Results
---

import useBaseUrl from '@docusaurus/useBaseUrl';

For information about viewing live and automated test results and details, see [Viewing Test Results](/test-results/viewing-test-results).

For information about the **Archive** page, and filtering and searching test and build results, see [Archived Test Results](/test-results/archived-test-results).
