---
id: test-reports
title: API Testing Reports
sidebar_label: Test Reports
hide_table_of_contents: true
description: "Primer on API Fortress Test Reports. Includes items like session details, timestamp, downloader, test execution general details: test name, test status, company, project, request component, etc."
---
import useBaseUrl from '@docusaurus/useBaseUrl';

<img src={useBaseUrl('img/api-fortress/2021/02/report.png')} alt="Test Report Primer Image" width="700" />

## Test Report Details

The screenshot above is the **Test Outcome Report** page. Here's a quick primer on API Fortress Test Reports:

1. **Session Details** - Metadata about the execution of the test; Timestamp, downloader, type of execution.
2. **General Details** - Test name, test status, company, project.
3. A Request Component - Click **See More** to reveal the Request Details pane.
4. An Assertion - A gray dot indicates a pass, a red dot indicates a fail, and a yellow dot indicates a warning.
