/* Callout boxes / admonition styles */

.alert a {
    color: var(--ds-blue-900);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.alert a:hover {
    text-decoration: underline;
}

html[data-theme="dark"] .admonition-tip p a {
    color: var(--ds-green-400);
    cursor: pointer;
}

.alert {
    border-left: 5px solid var(--ds-gray-300);
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

html[data-theme="dark"] .alert--warning p,
.alert--warning h5 {
    color: var(--ds-gray-700);
}

.admonition-note {
    border-left: 5px solid var(--ds-gray-400);
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

.admonition-note h5 {
    /*color: var(--ds-gray-300);*/
    font-weight: bold;
}

.admonition-note .admonition-icon svg {
    stroke: var(--ds-gray-400);
    fill: var(--ds-gray-400);
}

.admonition-tip {
    border-left: 5px solid var(--ds-green-400);
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

.admonition-tip h5 {
    font-weight: bold;
}

.admonition-tip .admonition-icon svg {
    fill: var(--ds-green-400);
}

.admonition-caution {
    border-left: 5px solid var(--ds-orange-600);
    color: var(--ds-gray-900);
    padding: 16px 80px 16px 16px;
    background-color: var(--ds-orange-50);
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
    margin: 0;
}

.admonition-caution h5 {
    /*color: var(--ds-gray-300);*/
    font-weight: bold;
}

.admonition-caution .admonition-icon svg {
    stroke: var(--ds-orange-600);
    fill: var(--ds-orange-600);
}

.admonition-warning {
    border-left: 5px solid var(--ds-orange-600);
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

.admonition-warning h5 {
    font-weight: bold;
}

.admonition-warning .admonition-icon svg {
    stroke: var(--ds-gray-300);
    fill: var(--ds-orange-600);
}

.admonition-caution code {
    color: var(--ds-gray-700);
    background-color: var(--ds-gray-100);
}

.admonition-caution pre code {
    background-color: var(--ds-gray-700);
}

.admonition-note code {
    color: var(--ds-gray-700);
    background-color: var(--ds-gray-100);
}

.admonition-note pre code {
    background-color: var(--ds-gray-300);
}

.admonition-tip code {
    color: var(--ds-gray-700);
    background-color: var(--ds-gray-100);
}

.admonition-tip pre code {
    background-color: var(--ds-gray-700);
}

.admonition-warning code {
    color: var(--ds-gray-700);
    background-color: var(--ds-gray-100);
}

.admonition-warning pre code {
    background-color: var(--ds-gray-300);
}

.admonition-info code {
    color: var(--ds-gray-700);
    background-color: var(--ds-gray-100);
}

.admonition-info pre code {
    background-color: var(--ds-gray-300);
}
