div[class^='announcementBarContent'] {
    /*background-color: var(--ifm-background-surface-color);*/
    /*!*background-color: #F83838;*!*/
    /*color: var(--ifm-font-color-base);*/
    font-size: inherit;
}

div[class^='announcementBarContent'] a {
    /*color: var(--ifm-link-color);*/
    text-decoration: inherit;
    font-weight: bold;
}

div[class^='announcementBarContent'] a:hover {
    /*color: var(--ifm-link-color);*/
    text-decoration: underline;
}