/*.beamerTrigger button {*/
/*}*/

.beamer-navbar-bell {
    filter: invert(43%) sepia(88%) saturate(4869%) hue-rotate(197deg)
        brightness(92%) contrast(89%);
}

html[data-theme="dark"] .beamer-navbar-bell {
    filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(245deg)
        brightness(112%) contrast(99%);
}
