.button-dark,
.button-light {
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    border-radius: 32px;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
    transition: ease background-color 250ms;
    font-family: var(--font-family-sans-serif);
}

.button-dark {
    background: var(--primary-button);
    color: var(--dark-500);
}
.button-dark:hover {
    background: var(--yellow-500);
    color: var(--dark-500);
    border-color: var(--dark-500);
}

.button-light {
    background: transparent;
    border-color: var(--inline-link);
    border-style: solid;
}
.button-light:hover {
    color: var(--dark-500);
    background-color: var(--yellow-500);
}
html[data-theme="dark"] .button-light {
    border-color: var(--neutral-100);
}
html[data-theme="dark"] .button-light:hover {
    border-color: var(--green-400);
    border-color: var(--inline-link);
}
