.button-dark, .button-light {
  padding: 8px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  transition: ease background-color 250ms;
}

.button-dark{
  background: var(--ds-blue-700);
  color: white;
  border-style: none;
}

.button-dark:hover {
  background: var(--ds-gray-700);
}

.button-light {
  background: transparent;
  border-color: var(--ds-blue-700);
  border-style: solid;
}

.button-light:hover {
  border-color: var(--ds-red-600);
}
