.button-dark,
.button-light {
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    transition: ease background-color 250ms;
}

.button-dark {
    background: var(--green-500);
    color: var(--neutral-100);
    border-style: none;
}
.button-dark:hover {
    background: var(--dark-500);
}
html[data-theme="dark"] .button-dark {
    background: var(--green-300);
    color: var(--dark-500);
}
html[data-theme="dark"] .button-dark:hover {
    background: var(--green-500);
    color: var(--neutral-100);
}

.button-light {
    background: transparent;
    border-color: var(--green-500);
    border-style: solid;
}
.button-light:hover {
    border-color: var(--coral-500);
}
html[data-theme="dark"] .button-light {
    border-color: var(--neutral-100);
}
html[data-theme="dark"] .button-light:hover {
    border-color: var(--green-400);
}
