.quickstart img {
    width: 100px;
    max-height: 100px;
}

.quickstart h3 {
    white-space: nowrap;
    font-weight: 400;
    padding-top: 8px;
}

/* .alice-carousel__stage {
  display: flex;
  gap: 10%;
  align-items: baseline;
} */

.alice-carousel__prev-btn-wrapper {
    text-align: center;
}

.alice-carousel__prev-btn-wrapper p {
    font-size: 2.5rem;
}

.alice-carousel__next-btn-item {
    font-size: 2.5rem;
}

/* .alice-carousel__prev-btn,
.alice-carousel__next-btn {
  padding: 0;
  margin: 0;
} */

html[data-theme="dark"] .alice-carousel__dots {
    margin: 0;
}

html[data-theme="light"] .alice-carousel__dots {
    margin: 0;
}

html[data-theme="dark"] .alice-carousel__next-btn [data-area]::after {
    color: white;
}

html[data-theme="dark"] .alice-carousel__prev-btn [data-area]::after {
    color: white;
}
