.quickstart img {
    width: 100px;
    max-height: 100px;
}

.quickstart h3 {
    white-space: nowrap;
    font-weight: 400;
    padding-top: 8px;
}

html[data-theme="dark"] .quickstart h3 {
    color: var(--green-200);
}

.quickstart a {
    color: var(--inline-link);
}
html[data-theme="dark"] .quickstart a:hover {
    color: var(--green-200);
}

/* .alice-carousel__stage {
  display: flex;
  gap: 10%;
  align-items: baseline;
} */

.alice-carousel__prev-btn-wrapper {
    text-align: center;
}

.alice-carousel__prev-btn-wrapper p {
    font-size: 2.5rem;
}

.alice-carousel__next-btn-item {
    font-size: 2.5rem;
    color: var(--inline-link);
}

/* .alice-carousel__prev-btn,
.alice-carousel__next-btn {
    color: var(--primary-button);
} */

html[data-theme="light"] .alice-carousel__dots {
    margin: 0;
}

html[data-theme="dark"] .alice-carousel__dots {
    margin: 0;
}

html[data-theme="light"] .alice-carousel__dots-item {
    background-color: var(--neutral-100);
}

html[data-theme="dark"] .alice-carousel__dots-item {
    background-color: var(--inline-link);
}

html[data-theme="light"] .alice-carousel__dots-item:hover {
    background-color: var(--inline-link);
}
html[data-theme="dark"] .alice-carousel__dots-item:hover {
    background-color: var(--inline-link);
}

/* html[data-theme="light"] .alice-carousel__dots-item:not(:active) {
    background-color: var(--primary-button);
}
html[data-theme="dark"] .alice-carousel__dots-item:not(:active) {
    background-color: var(--inline-link);
} */

html[data-theme="light"] .alice-carousel__next-btn [data-area]::after {
    color: var(--inline-link);
}

html[data-theme="light"] .alice-carousel__prev-btn [data-area]::after {
    color: var(--inline-link);
}

html[data-theme="dark"] .alice-carousel__next-btn [data-area]::after {
    color: var(--primary-button);
}

html[data-theme="dark"] .alice-carousel__prev-btn [data-area]::after {
    color: var(--primary-button);
}
