/* CLI Custom CSS */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

#table-cli tr,
td {
    margin-bottom: 1px;
    padding: 0px;
    margin-block-start: 2px;
    background: transparent;
}

#table-cli th {
    margin-bottom: 2px;
    padding: 1px;
    margin-block-start: 2px;
    font-family: var(--font-family-sans-serif);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--dark-100);
    border-bottom: 1px solid #474c55;
}

.cli {
    color: var(--inline-link);
    font-family: "Source Code Pro";
    padding: 5px;
    padding-right: 50%;
    background: var(--neutral-200);
    background-clip: padding-box;
    background-size: cover;
}

.cli-desc {
    margin-left: 40px;
}

.t-cli {
    color: var(--dark-400);
    font-size: 13px;
    padding: 1px;
    border: solid 0.5px #d6d6db;
    background-color: var(--neutral-300);
    border-radius: 5px;
}

.t-cli a {
    color: var(--inline-link);
}

.t-cli a:hover {
    text-decoration: underline;
    text-decoration-color: var(--inline-green);
    cursor: pointer;
}

html[data-theme="dark"] .cli {
    background: var(--inline-link);
    color: var(--green-500);
    border-radius: 4px;
    padding: 4px;
}

html[data-theme="dark"] .t-cli {
    background: var(--dark-500);
    padding: 4px;
    color: var(--dark-100);
    border: none;
    border-radius: 4px;
}

html[data-theme="dark"] .t-cli a {
    color: var(--green-300);
}

html[data-theme="dark"] .t-cli a:hover {
    text-decoration: underline;
    text-decoration-color: var(--green-300);
}

html[data-theme="dark"] #table-cli th {
    background-color: var(--dark-500);
    color: var(--neutral-100);
}
