/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e53730;
  --ifm-color-primary-dark: rgb(229,55,48);
  --ifm-color-primary-darker: rgb(218,41,29);
  --ifm-color-primary-darkest: rgb(172,20,19);
  --ifm-color-primary-light: rgb(204,205,207);
  --ifm-color-primary-lighter: rgb(248,248,248);
  --ifm-color-primary-lightest: rgb(255,255,255);
  --ifm-footer-background-color: rgb(172,20,19);
  --ifm-footer-link-color: rgb(255,255,255);
  --ifm-footer-title-color: rgb(248,248,248);
  --ifm-footer-color: rgb(255,255,255);
  --ifm-code-font-size: 95%;
}
body {
  font-family: museo-sans, sans-serif;
  font-weight: 100;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: museo-sans, sans-serif;
  font-weight: 100;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__items {
  font-weight: 500;
  color:rgb(70, 75, 84);
  text-decoration-color:rgb(70, 75, 84);
}

.navbar__items.navbar__items--right a:nth-child(6) {
  background: #e12219;
  background: -webkit-gradient(linear,right top, left top,from(#ee4439),to(#d92519));
  background: linear-gradient(270deg,#ee4439,#d92519);
  box-shadow: -3px 0 16px -11px #000;
  border-radius: 86px;
  color: #fff;
  padding: 10px 25px;
  --ifm-menu-color-background-hover: #fff;
}
.navbar__items.navbar__items--right a:nth-child(6):hover {
  background: #f85d5d;
  background: -webkit-gradient(linear,right top,left top,from(#f85d5d),to(#f83838));
  background: linear-gradient(270deg,#f85d5d,#f83838);
}

.footer {
  font-family: museo-sans, sans-serif;
  --ifm-h4-font-size: 20px;
}
.footer__title {
  border-bottom: 1px solid #bd3431;
  display: block;
  padding-bottom: 10px;
  font-size: .875rem;
  line-height: .875rem;
  font-weight: 700;
}
.footer__link-item {
  font-size: .6875rem;
  font-weight: 500;
  margin: 5px 0;
  line-height: 20px;
  display: block;

}
.footer__logo {
  padding-bottom: 15px;
}

.text--center {
  font-size: 12px;
}
