.highlight {
    border-radius: 2px;
    color: #fff;
    padding: 0.2rem;
}

.cypress {
    background-color:#29c38e;
}

.playwright {
    background-color:#45ba4b;
}

.testcafe {
    background-color:#1a212e;
}

.puppeteer {
    background-color:#40b5a4;
}

.sauce-cloud {
    background-color:#ad1415;
}

.beta {
    background-color:#003A70;
}

.docker {
    background-color:#1993ef;
}

/* Support FW table style */

#table-fw tr:nth-child(even){
  background: transparent;
}

#table-fw tbody:nth-child(even) {
  background-color: #f8f8f8;
}

#table-fw tbody:nth-child(odd) {
  background-color: #FFFFFF;
}
