.DocSearch-Container .DocSearch-Modal,
.DocSearch-Container .DocSearch-Form,
.DocSearch-Container .DocSearch-Hit-source {
    background: var(--dark-500);
}

.DocSearch-Container .DocSearch-Form {
    box-shadow: none;
}

.DocSearch-Container .DocSearch-Input {
    color: var(--neutral-100);
}

.DocSearch-Container .DocSearch-Hit-source {
    color: var(--neutral-100);
}

.DocSearch-Container .DocSearch-Hits mark {
    color: var(--dark-500);
    font-weight: bold;
    background: var(--yellow-500);
}

.DocSearch-Container .DocSearch-Hits a {
    background: none;
    border: 1px solid var(--neutral-300);
    box-shadow: none;
    color: var(--neutral-100);
    margin-bottom: 0.5rem;
}

.DocSearch-Container .DocSearch-Hits a:hover,
.DocSearch-Container .DocSearch-Hit[aria-selected="true"] a {
    background: var(--dark-400);
    border: 1px solid var(--neutral-300);
    box-shadow: none;
}

.DocSearch-Container .DocSearch-Hit-title {
    color: var(--neutral-100);
}

.DocSearch-Container .DocSearch-Hit-title:hover {
    color: var(--dark-500);
}

.DocSearch-Container .DocSearch-Container .DocSearch-Hit-path {
    color: var(--neutral-200);
}

.DocSearch-Container .DocSearch-Container .DocSearch-Hit-path:hover {
    color: var(--dark-500);
}

.DocSearch-Container .DocSearch-Footer {
    background: var(--dark-500);
}

div.new-search button.DocSearch.DocSearch-Button {
    border-radius: 4px;
    background-color: var(--neutral-100);
    width: 30%;
    font-size: 12px;
    margin: auto;
}
div.new-search svg.DocSearch-Search-Icon {
    visibility: visible;
    color: var(--dark-300);
}
div.new-search .DocSearch-Button-Placeholder {
    display: inherit;
}

div.new-search span.DocSearch-Button-Placeholder {
    color: var(--dark-300);
}

html[data-theme="dark"] div.new-search svg.DocSearch-Search-Icon {
    visibility: visible;
    color: rgb(204, 205, 207); /* ---ifm-color-primary-light */
}

html[data-theme="dark"] div.new-search button.DocSearch-Button {
    background: black;
}

html[data-theme="dark"] span.DocSearch-Button-Placeholder {
    color: rgb(204, 205, 207); /* ---ifm-color-primary-light */
}

/* mobile overrides */
@media only screen and (min-width: 300px) and (max-width: 998px),
    only screen and (max-device-width: 998px),
    only screen and (max-width: 998px) {
    div.new-search [class^="searchBox_"] {
        position: relative;
        right: unset;
        display: inline-block;
        width: 100%;
    }
    div.new-search button.DocSearch.DocSearch-Button {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 750px),
    only screen and (max-device-width: 750px),
    only screen and (max-width: 750px) {
    div.new-search .DocSearch-Button-Placeholder {
        display: none;
    }
}
