div.new-search button.DocSearch.DocSearch-Button{
    border-radius: 3px;
    background-color: #fff;
    width: 30%;
    font-size: 12px;
    margin: auto;
}
div.new-search svg.DocSearch-Search-Icon {
    visibility: visible;
}
div.new-search .DocSearch-Button-Placeholder {
    display: inherit;
}
