---
id: test-reports
title: Test Reports
sidebar_label: Test Reports
---

:::warning Page has been moved
See [Test Reports and Insights](/api-testing/project-dashboard/).
:::
