---
id: test-results
title: Test Results
sidebar_label: Getting Started
---
Use the results of your Sauce Labs tests to maximize your testing.

<div className="box-wrapper" markdown="1">

<div className="box box1 card">
<div className="container">
<h2>Viewing, Managing, and Sharing Test Results</h2>
<p>
</p>
<ul>
<li><a href="test-results/viewing-test-results">Viewing Test Results</a></li>
<li><a href="test-results/managing-test-results">Managing Test Results</a></li>
<li><a href="test-results/sharing-test-results">Building Sharable Links</a></li>
</ul>
</div>
</div>

<div className="box box2 card">
<div className="container">

<h2>Working with Test Statuses</h2>
<p></p>
<ul>
<li><a href="test-results/test-status">Setting Test Statuses</a></li>
<li><a href="test-results/badges-browser-matrix">Status Badges and the Browser Matrix Widget</a></li>
</ul>
</div>
</div>

</div>
