---
id: insights
title: Test Results
sidebar_label: Test Results
---

## Viewing and Managing Test Results
After you run a test, you can view the results on the Test Results page. From there you can:

* Watch a video recording of the test
* Review the commands that were issued
* Read the test log
* View the test metadata

### Live Test Results
In Sauce Labs, in the left panel, click Live and then click Test Results.

On the Test Results page, click a test in the list to view the test details.
View Automated Test Results
In Sauce Labs, in the left panel, click Automated and then click Test Results.

On the Test Results page, click a test in the list to view the test details.
To view and manage the results of past tests and builds, in Sauce Labs, in the left panel, click Automated and then click Archive. Here you can use status badges on your code repository or a web page to keep track of your latest test runs.
