name: Run Search Crawler

on:
  pull_request:
  push:
    branches:
      - 'master'
    paths:
      - 'docs/**'

jobs:
  run-docsearch:
    runs-on: ubuntu-latest
    container:
      image: algolia/docsearch-scraper:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
      - name: Update Algolia Search Index
        run: |
          ./docsearch docker:run .docsearch/config.json
        env:
          APPLICATION_ID: ${{secrets.ALGOLIA_ID}}
          API_KEY: ${{secrets.ALGOLIA_CREDENTIALS}}
