name: Sauce Pipeline Browser Tests

on:
  pull_request:
  push:

env:
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCECTL_VERSION: 0.14.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - uses: actions/cache@v2
        id: cache-npm-packages
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-npm-packages.outputs.cache-hit != 'true'
        with:
          cmd: install

      - uses: actions/cache@v2
        id: cache-build
        with:
          path: |
            build
          key: ${{ runner.os }}-${{ github.sha }}

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: build

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        id: cache-build
        with:
          path: |
            build
          key: ${{ runner.os }}-${{ github.sha }}

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: install

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: build

      - name: install saucectl
        run: |
          curl -L -s  https://github.com/saucelabs/saucectl/releases/download/v${SAUCECTL_VERSION}/saucectl_${SAUCECTL_VERSION}_linux_64-bit.tar.gz | sudo tar -xvz -C /usr/bin/
      - name: saucectl run
        run: |
          # Expose website
          cd build/ && python3 -m http.server 8000 &

          # Run skipping ci-mode
          export SKIP_CI=true
          saucectl run --env CYPRESS_HOST_ADDR=`hostname -i`:8000 -c ./.sauce/config.yml
          EXIT_CODE=${?}
          kill %1

          exit ${EXIT_CODE}

  deploy-staging:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: pip install crcmod

      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.RUN_SA_KEY }}
          project_id: ${{ secrets.RUN_PROJECT }}

      - uses: actions/cache@v2
        id: cache-build
        with:
          path: |
            build
          key: ${{ runner.os }}-${{ github.sha }}

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: install

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: build

      - name: Deploy to Bucket
        run: |-
          cd build
          gsutil -m rsync -R . ${{ secrets.GCS_BUCKET }}

  deploy-production:
    needs: deploy-staging
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: pip install crcmod

      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.RUN_SA_KEY_PROD }}
          project_id: ${{ secrets.RUN_PROJECT_PROD }}

      - uses: actions/cache@v2
        id: cache-build
        with:
          path: |
            build
          key: ${{ runner.os }}-${{ github.sha }}

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: install

      - uses: borales/actions-yarn@v2.0.0
        if: steps.cache-build.outputs.cache-hit != 'true'
        with:
          cmd: build

      - name: Deploy to Bucket
        run: |-
          cd build
          gsutil -m rsync -R . ${{ secrets.GCS_BUCKET_PROD }}
