name: Website - Production
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: refs/heads/master
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      - name: Run Yarn
        run: yarn
      - name: Build Site
        run: yarn build
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '276.0.0'
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - run: gsutil -m rsync -d -c -r public gs://sauce-docs-test-bucket
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=3600" gs://sauce-docs-test-bucket/build/*.html
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://sauce-docs-test-bucket/build/*.js
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=31536000" gs://sauce-docs-test-bucket/build/*.css