name: Sauce Docs Link Checker

on:
  pull_request:
  push:
    paths:
      - 'docs/**'
  workflow_dispatch:

env:
  ALGOLIA_APP_ID: ${{secrets.ALGOLIA_APP_ID}}
  ALGOLIA_KEY: ${{secrets.ALGOLIA_KEY}}
  SLACK_LINK: ${{secrets.SLACK_LINK}}
  GITLAB_TOKEN: ${{secrets.GITLAB_TOKEN}}

defaults:
  run:
    working-directory: tests/sauce-docs-checker

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Build and Run Docusaurus Site
        working-directory: ./
        run: |
          npm install && npm run build
          # Expose website
          cd build/ && python3 -m http.server 8000 &
      - name: Install Test Dependencies
        run: |
          npm install
      - name: Set GitHub Action Job URL
        run: |
          echo $GITHUB_RUN_ID
      - name: Start Link Checker Script
        run: |
          npm start -- $GITHUB_RUN_ID
