name: Post Build Sauce Labs Tests
on:
  schedule:
    - cron: '0 0/12 * * *'
  workflow_dispatch:
  
env:
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  working-directory: ./webdriver

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Dependencies
        run: |
          npm install
        working-directory: ${{env.working-directory}}
        
      - name: Run WDIO Cross-Platform Tests
        run: |
          npx wdio run ./wdio.conf.js
        working-directory: ${{env.working-directory}}
