name: Vale Linter
on: [pull_request]

jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint
        uses: errata-ai/vale-action@reviewdog
        with:
          reporter: github-pr-check # Reports are in the GitHub Diff View
          level: error
          fail_on_error: false
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
